@import url("..//css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

.body {
  background: url("..//img/background.png") center/cover no-repeat;
  font-family: 'Roboto', sans-serif;
  margin-top: 46px;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.header__decoration {
  background: url("..//img/logo.png");
  background-repeat: no-repeat;
}

.header__decoration:hover {
  color: #f26321;
  background: url("..//img/logo2.png");
  background-repeat: no-repeat;
}

.header__logo_name:hover {
  color: #f26321;
}

.header__logo_name {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 61px;
  font-weight: 700;
  font-size: 29px;
  line-height: 27px;
}

.header__logo_bottom {
  font-size: 18px;
}

.header__contacts {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: #fff;
  font-size: 18px;
}

.header__contacts_tel:hover {
  color: hsl(19, 89%, 54%);
}

.header__contacts_mail:hover {
  color: hsl(19, 89%, 54%);
}

.header__contacts_mail {
  padding-bottom: 19px;
}

.main__content {
  margin-bottom: 49px;
}

.main__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 51px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image__wrapper {
  position: relative;
  overflow: hidden;
  height: 220px;
  border: 2px solid;
  border-image: linear-gradient(to bottom right, white, black) 1;
}

.card__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.text {
  font-size: 10px;
  padding-bottom: 8px;
}

.money {
  font-size: 20px;
}

.view__details {
  font-size: 14px;
}

.bottom__panel {
  position: absolute;
  bottom: -85px;
  left: 0;
  width: 100%;
  padding: 7px 14px 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f26522;
  transition: 200ms;
  color: #fff;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view__details::after {
  content: url("..//img/arrow.png");
  justify-content: space-between;
  margin-left: 16px;
}

.block:hover .bottom__panel {
  bottom: 0;
}

.block:hover .card__title {
  color: #f26522;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}
